<!DOCTYPE html>
<html>
<title>PerfoTron JMX Convertor</title>
<body>

<h4>Input JMeter is sucessfully converted and downloaded.</h4>
<h4><a href="{{ url_for('download_jmx', filename=filename) }}">Download</a></h4>

<form method=post enctype=multipart/form-data>
  <label for="file">Select your Jmeter Script:</label>
  <input type=file name=file><br><br>
  <label for="token">Enter the Token:</label> &nbsp; &emsp;
  <input type="text" id="token" name="token"><br><br>
  <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button and get converted JMX which can be used in PerfoTron Environment.</p>

</body>
</html>