<!DOCTYPE html>
<html>
<body>

<title>Invalid Jmeter Script</title>
<font color="red"><h4> Invalid Jmeter Script provided as input. </h4> </font>

<form method=post enctype=multipart/form-data>
  <label for="file">Select your Jmeter Script:</label>
  <input type=file name=file><br><br>
  <label for="token">Enter the Token:</label> &nbsp; &emsp;
  <input type="text" id="token" name="token"><br><br>
  <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button and get converted JMX which can be used in PerfoTron Environment.</p>

</body>
</html>